<!DOCTYPE html>
<html lang="kaa">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <title>{{ page.title }} - qaǵıyda.com</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/search.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400..500;1,400..500&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include header.html %}

    <main>{{ content }}</main>

    {% include footer.html %}

    <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
    <script>
      var client = algoliasearch('TRE8OMB1KR', '784e81093a7bb9b63469ecd64bac6ccc');
      var index = client.initIndex('rules');
      autocomplete(
        '#search-input', {
          hint: false,
          debug: false,
          minLength: 1,
          openOnFocus: true,
          keyboardShortcuts: ['s'],
          templates: {
            footer: '<div class="branding"><div class="wrapper"><a target="_blank" href="https://algolia.com"><img src="https://www.algolia.com/static_assets/images/press/downloads/algolia-logo-light.svg" /></a></div></div>'
          }
        }, [{
          source: autocomplete.sources.hits(index, { hitsPerPage: 7 }),
          displayKey: 'text',
          templates: {
            suggestion: function(suggestion) {
              link = suggestion._snippetResult.link.value;
              title = suggestion._snippetResult.title.value;
              text = suggestion._snippetResult.text.value;
              output = "<a href=\"" + link + "\"><h4>" + title + "</h4><p>" + text + "</p></a>"
              return output;
            }
          }
        }]);
    </script>
  </body>
</html>
